<!DOCTYPE html>
<html lang="de">
<!-- /* @thymesVar id="bootstrapCss" type="java.lang.String" */ -->
<!-- /* @thymesVar id="appCss" type="java.lang.String" */ -->
<!-- /* @thymesVar id="backgroundImage" type="java.lang.String" */ -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link th:if="${bootstrapCss == null}" rel="stylesheet" href="../static/bootstrap.css">
    <link th:if="${appCss == null}" rel="stylesheet" href="../static/app.css">
    <link th:if="${backgroundImage == null}" rel="stylesheet" href="../static/background.css">
    <style th:utext="${bootstrapCss}"></style>
    <style th:utext="${appCss}"></style>
    <style th:utext="${backgroundImage}"></style>
</head>
<body>

<main>
    <!--/* @thymesVar id="entity" type="de.dreja.introgenerator.model.persistence.Event" */-->
    <!-- /* @thymesVar id="eventUrl" type="java.lang.String" */ -->
    <!--/* @thymesVar id="form" type="de.dreja.introgenerator.model.form.EventForm" */-->
    <!-- /* @thymesVar id="imageUrl" type="java.lang.String" */ -->
    <div class="card" th:fragment="event-form (entity, form, image, eventUrl, imageUrl)">
        <div class="card-header" th:if="${form.id == null}" th:text="${'New Event'}">
            New Presentation
        </div>
        <div class="card-header" th:unless="${form.id == null}" th:text="${entity.title}">
            Entity title
        </div>
        <section class="card-body">
            <form action="event/update" method="post" th:action="${eventUrl}">
                <input type="hidden" id="id" name="id" th:value="${form.id}">

                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title" th:value="${form.title}"/>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description" th:value="${form.description}"/>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="startDate">Start Date</label>
                    <div class="input-group">
                        <span class="input-group-text" id="date">Date</span>
                        <input class="form-control" type="date" name="startDate" id="startDate"
                               th:value="${form.startDate}"/>
                        <label class="input-group-text" id="time" for="startTime">Time</label>
                        <input class="form-control" type="time" name="startTime" id="startTime"
                               th:value="${form.startTime}"/>
                    </div>
                </div>

                <input type="submit"/>
            </form>
        </section>
        <!--/* @thymesVar id="image" type="de.dreja.introgenerator.model.http.DisplayImage" */-->
        <section class="rounded-bottom row" th:unless="${form.id == null}">
            <div th:if="${image != null}" class="col-4 d-flex justify-content-center rounded-bottom" style="overflow: hidden">
                <img  src="../static/cycle.jpg" alt="..." class="w-100 h-100" th:src="${'data:' + image.mimeType() + ';base64,' + image.base64()}" th:alt="${image.fileName()}">
            </div>
            <div class="col-8">
                <div class="pe-3">
                    <form action="image/update" method="post" enctype="multipart/form-data" th:action="${imageUrl + '/' + form.id}">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="imageFile" id="imageFile">
                            <label class="input-group-text" for="imageFile">Upload</label>
                        </div>
                        <input type="submit"/>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
</body>
</html>
