<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="bootstrap.css">
    <!--<link rel="stylesheet" href="./style.css">-->
    <!--<link rel="icon" href="./favicon.ico" type="image/x-icon">-->
</head>
<body>
<main>
    <div th:replace="~{presentation-form::presentation-form (presentation=${presentation},url=${'presentation/create-new'})}"></div>
</main>
</body>
</html>
