<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link th:if="${bootstrapCss == null}" rel="stylesheet" href="../static/bootstrap.css">
    <link th:if="${appCss == null}" rel="stylesheet" href="../static/app.css">
    <link th:if="${backgroundImage == null}" rel="stylesheet" href="../static/background.css">
    <style th:utext="${bootstrapCss}"></style>
    <style th:utext="${appCss}"></style>
    <style th:utext="${backgroundImage}"></style>
</head>
<body>
<main class="container">
    <div class="row main-content row-cols-2 gy-4">
        <div class="col">
            <div th:replace="~{presentation-form::presentation-form (entity=${presentation.presentation()}, form=${presentation.presentationForm()}, url=${presentationUrl})}">
            </div>
        </div>
        <div class="col">
            <div th:replace="~{event-form::event-form (entity=${emptyEvent.event()}, form=${emptyEvent.eventForm()}, image=${null}, eventUrl=${eventsUrl}, imageUrl='/images-for')}">
                New Event form
            </div>
        </div>
        <!--/*/ <th:block th:each="event : ${events}"> /*/-->
        <!-- /* @thymesVar id="event" type="de.dreja.introgenerator.model.form.EventData" */ -->
            <div class="col">
                <div th:replace="~{event-form::event-form (entity=${event.event()}, form=${event.eventForm()}, image=${null}, eventUrl=${eventsUrl}, imageUrl='/images-for')}">
                    Existing event form
                </div>
            </div>
        <!--/*/ </th:block> /*/-->
    </div>
</main>
</body>
</html>
