<!DOCTYPE html>
<html lang="de">
<!-- /* @thymesVar id="bootstrapCss" type="java.lang.String" */ -->
<!-- /* @thymesVar id="appCss" type="java.lang.String" */ -->
<!-- /* @thymesVar id="backgroundImage" type="java.lang.String" */ -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link th:if="${bootstrapCss == null}" rel="stylesheet" href="../static/bootstrap.css">
    <link th:if="${appCss == null}" rel="stylesheet" href="../static/app.css">
    <link th:if="${backgroundImage == null}" rel="stylesheet" href="../static/background.css">
    <style th:utext="${bootstrapCss}"></style>
    <style th:utext="${appCss}"></style>
    <style th:utext="${backgroundImage}"></style>
</head>
<body>

<main>
    <!-- /* @thymesVar id="entity" type="de.dreja.introgenerator.model.persistence.Presentation" */ -->
    <!-- /* @thymesVar id="form" type="de.dreja.introgenerator.model.form.PresentationForm" */ -->
    <!-- /* @thymesVar id="url" type="java.lang.String" */ -->
    <div class="card" th:fragment="presentation-form (entity, form, url)">
        <form action="presentation/create-new" method="post" th:action="${url}">
            <div class="card-body">
                <input type="hidden" id="id" name="id" th:value="${form.id}">

                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title" th:value="${form.title}"/>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description"
                           th:value="${form.description}"/>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="countdownEndDate">Start Date</label>
                    <div class="input-group">
                        <span class="input-group-text" id="date">Date</span>
                        <input class="form-control" type="date" name="countdownEndDate" id="countdownEndDate"
                               th:value="${form.countdownEndDate}"/>
                        <label class="input-group-text" id="time" for="countdownEndTime">Time</label>
                        <input class="form-control" type="time" name="countdownEndTime" id="countdownEndTime"
                               th:value="${form.countdownEndTime}"/>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="countdownRuntimeMinutes">Countdown Duration</label>
                    <div class="input-group">
                        <input class="form-control" type="number" name="countdownRuntimeMinutes"
                               id="countdownRuntimeMinutes"
                               min="0" max="60" th:value="${form.countdownRuntimeMinutes}"/>
                        <span class="input-group-text" id="minutes">Minutes</span>
                        <input class="form-control" type="number" name="countdownRuntimeSeconds"
                               id="countdownRuntimeSeconds"
                               min="0" max="60" th:value="${form.countdownRuntimeSeconds}"/>
                        <label class="input-group-text" id="seconds" for="countdownRuntimeSeconds">Seconds</label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit"/>
            </div>
        </form>
    </div>
</main>

</body>
</html>
